/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/ricepaper_v3.png');
  color: rgba(6,66,115);
}

#nav {
  background-color: rgb(6,66,115);
}


::-webkit-scrollbar {
  background-color: rgba(255, 255, 255, .2);
}
::-webkit-scrollbar:thumb {
  background-color: rgba(0, 0, 0, .1);
  color: rgba(0, 0, 0, .1);
}

.jumbotron {
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  background: rgba(6,66,115, .1)
}

#inputForm {
  text-align: center;
}

#textInput {
  margin: .5em;
}

#loadingMsgContainer {
  text-align: center;
}

.scroll-x {
  white-space: nowrap;
  overflow-y: hidden; 
  overflow-x: scroll; 
  height: 2.5em;
  color: gray;
}

#waveRowsContainer {
  table-layout: fixed
}

#waveRowsContainer .wave-row td { 
  padding: .5em;
}

#waveRowsContainer .wave-row td:nth-child(1) {
  width: 33%;
}
#waveRowsContainer .wave-row td:nth-child(2) {
  width: 66%;
}
