/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.jumbotron {
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}

#inputForm {
  text-align: center;
}

#textInput {
  margin: .5em;
}

#loadingMsgContainer {
  text-align: center;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 1.5em;
}
